html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url('../bilde/upscalemedia-transformed.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.rectangel1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  width: 100%;
  max-width: 1480px;
  height: 235px;
  background-color:#FFEA8F;
  border: 2px solid black;
  z-index: 5;
}

.rectangel2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 200px;
  width: 100%;
  max-width: 1480px;
  height: 20px;
  background-color:#856568;
  z-index: 5;
}

.rectangel3 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 220px;
  width: 100%;
  max-width: 1480px;
  height:50px;
  background-color: #946E72;
  z-index: 5;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
        height: 100%;
    }
    body {
        display: grid;
        grid-template-rows: 1fr auto;
    }
    main {
        display: grid;
        grid-template-rows: 1fr auto;
    }
    main section {
        display: flex;
        justify-content: space-between;
    }
#table {
        background-color: brown;
        display: grid;
        gap: 1rem;
        padding: 1rem;
        grid:
        "b01 b02 b03 b04 b05" 1fr
        "b06 b07 b08 b09 b05" 1fr
        "b10 b11 b12 b13 b05" 1fr;
    }
    #table div {
        background-color: beige;  
    }
    #safe {
        grid-area:b05;
    }

.seif {
  display: flex;
}

#Sell {
  display: block;
  position: relative; 
  /* left: 50px;           
  bottom: 900px;          */
  width: 200px;          
  height: 200px;         
  object-fit: contain;  
  max-width: none;      
  z-index: 200;
}